* {
    box-sizing: border-box;
    outline: none;
}
.error { color: red; }
img {border: 0;}
.avatar {width: 48px;height: 48px;border-radius: 50%;-moz-force-broken-image-icon: 1;}
.stream-items {margin: 0; padding: 0;}
.stream-items li {
	list-style-type: none;
	background: #fff;
    border-bottom: 1px solid #e6ecf0;
    background-clip: padding-box;
    overflow: hidden;
}
.stream-items li .content {padding:5px;}
.stream-items li .stream-item-header {}
.stream-items li .stream-item-header img {float: left; margin-right: 10px;}
.stream-items li .stream-item-header .fullname {font-weight:bold;color:black;}
.stream-items li .stream-item-header .user {color:#657786;}
.stream-items li .stream-item-content {display:flex;}
.stream-items li .stream-item-footer {display:table;width:100%; padding-left: 58px;}
.retweet i { color: #ddd; }
.retweet.in i { color: #17bf63; }